button {
  height: 33px;
  width: 100px;
  display: none;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content:center;
}

h1 {
  font-size: 50px;
  padding-left: 15px;
}

h2 {
  margin-top: -15px;
}

input {
  height: 25px;
  width: 100%;
}

img {
  height: 75px;
  width: 75px;
}

p {
  margin-top: -20px;
}
.profileCard {
  border: 1px solid black;
  width: 255px;
  height: 270px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
}

.profileCardData{
  display: flex;
  flex-direction: row;
}

.profileCard:hover{
  border: 5px solid yellow;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: -25px;
}

.stat {
  margin-right: 5px;
  background-color: rgb(53, 52, 52);
  color: white;
  width: 90px;
}

.stats {
  margin-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.titleBar {
  display: flex;
  flex-direction: row;
  font-family: 'Anton', sans-serif;
  background-color: grey;
}

.titleContent {
  margin-left: 100px;
  margin-top: 25px;
}